.container {
    padding: 5px 0rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
  }

.head {
  text-align: center;
}